@keyframes rotate {
  100%   {transform: rotate(360deg)}
}

@keyframes prixClipFix {
    0%   {clip-path:polygon(50% 50%,0 0,0 0,0 0,0 0,0 0)}
    25%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 0,100% 0,100% 0)}
    50%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,100% 100%,100% 100%)}
    75%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,0 100%,0 100%)}
    100% {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,0 100%,0 0)}
}

body {
  background-color: var(--gray-scale-light);
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: var(--secondary-color);
  box-shadow: 0px 4px 10px 4px rgba(0,0,0,0.25);

  &__logo {
    display: flex;
    flex-direction: row;
    gap: 5px;
    align-items: center;

    &__img {
      cursor: pointer;
      width: 55px;
    }

    &__title {
      font-family: Fira Sans;
      font-weight: 400;
      font-size: 30px;
      color: var(--light-color);

      .bold {
        font-weight: bold;
      }
    }
  }
}

.section {
  &__commerce {
    display: flex;
    flex-direction: column;

    &__banner {
      height: 150px;
      background-attachment: fixed;
      background-repeat: no-repeat;
      background-size: 768px;
      background-image: url(/banner.png);
      z-index: -1;
      background-position-x: center;
    }

    &__info {
      display: flex;
      justify-content: center;
      color: var(--dark-color);

      &__container {
        position: relative;
        z-index: 1;
        width: 270px;
        background-color: var(--light-color);
        box-shadow: 0px 4px 10px 0px rgba(0,0,0,0.25);
        border-radius:  0 0 20px 20px;
        padding: 20px 30px 50px 30px;

        &__favicon {
          position: absolute;
          top: -15%;
  
          img {
            height: 100px;
            border: 5px solid var(--light-color);
            border-radius: 20px;
          }
        }

        &__title {
          padding-top: 50px;
          font-size: 30px;
          font-weight: 900;
          margin: 0;
        }

        &__description {
          color: var(--gray-scale);
          font-size: 15px;
          font-weight: normal;
          margin: 0;
        }

        &__subtitle {
          padding: 15px 0;
          font-size: 20;
          font-weight: 900;
          margin: 0;
        }

        &__paragraph {
          padding-left: 10px;
          width: 270px;
          font-size: 14;
          margin: 0;
        }
      }
    }
  }

  &__parklots {
    display: flex;
    flex-direction: column;
    align-items: center;

    &__nav {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 350px;
      padding: 30px 0;

      &__title {
        color: var(--dark-color);
        font-size: 30px;
        font-weight: 900;
        margin: 0;
      }

      &__icon {
        width: 30px;
        cursor: pointer;
        transition: ease-out 2s;
        
        &__animate {
          animation: rotate 2s linear;
        }
      }
    }

    &__loader {
      margin: 30px;
      width: 100px;
      height: 100px;
      border-radius: 50%;
      position: relative;
      animation: rotate 1s linear infinite;

      &::before {
        content: "";
        box-sizing: border-box;
        position: absolute;
        inset: 0px;
        border-radius: 50%;
        border: 10px solid var(--gray-scale);
        animation: prixClipFix 2s linear infinite ;
      }
    }
  }
}

.footer {
  margin-top: 50px;
  height: 200px;
  background-color: var(--secondary-color);
}
